<html>
    <head>
        <title>NEW DOCUMENT</title>
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <style>
            table{
                border: 1px solid black;
                background-color: #99abb1;
            }
            td, th{
                padding:10px;
            }
            th{
                text-align:right;
            }
            .center{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>
    <body>
        {% comment %} <h1> Hello {{name}} </h1> {% endcomment %}
        {% comment %} {% block content %}
         <form action="product" autocomplete="off">
            <h1>Product</h1>
            mobile <input type="text" name="mobile"><br><br>
            keyboard <input type="text" name="keyboard"><br><br>
            monitor <input type="text" name="monitor"><br><br>
            <input type="submit" name="submit">

        </form>
        {% endblock %} {% endcomment %}
       
        {% comment %} {% block content %}
            <form action="register" method="POST" autocomplete="off">
                {% csrf_token %}
                <table class="center">
                    <tr >
                        <th colspan="2">
                            <center><h3>Registration</h3></center><hr>
                        </th>
                    </tr> 
                    <tr>
                        <th>
                          Name
                        </th>
                        <td><input type="text" name="name"></td>
                    </tr> 
                     <tr>
                        <th>
                          Password
                        </th>
                        <td><input type="password" name="password"></td>
                    </tr> 
                    
                     <tr>
                        <th>
                          Address
                        </th>
                        <td><input type="text" name="address"></td>
                    </tr> 

                    <tr>
                        <th>
                          Mail
                        </th>
                        <td><input type="mail" name="mail"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                         <center>   
                       <input type="submit" value="submit"></center>
                        </td>
                    </tr>  
                     
                </table>
               
        {% endblock %}

       
        <img src="{% static 'image/HDgallery LEO 1.jpg' %}" > 
        
         {% endcomment %}
       <div class="container-fluid">
        <div class="col-md-offset-1 col-md-4">
            <form action="adddata" method="POST" autocomplete="off">
                {% csrf_token %}
            <h3 class="page-header text-primary text-center">Registration</h3>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control" name="age">
            </div>
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" name="address">
            </div>
            <div class="form-group">
                <label>Contact</label>
                <input type="text" class="form-control" name="contact">
            </div>
            <div class="form-group">
                <label>Mail</label>
                <input type="text" class="form-control" name="mail">
            </div>
            <div class="form-group pull-right">
                    <input type="submit" value="Register" class="btn btn-primary">
                    <input type="reset" value="Clear" class="btn btn-danger">
            </div>
        </form>
        </div>
        <div class="col-md-6">
            {% if datas %}
            <h3 class="page-header text-primary text-center">View details</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>Mail</th>
                        <th>update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                
                {% for data in datas %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{data.Name}}</td>
                        <td>{{data.Age}}</td>
                        <td>{{data.Address}}</td>
                        <td>{{data.Contact}}</td>
                        <td>{{data.Mail}}</td>
                        <td><a class="btn btn-success" href="updatedata/{{data.id}}">Update</td>
                        <td><a class="btn btn-danger" href="deletedata/{{data.id}}">Delete</td>
                     
                    </tr>
                </tbody>
                {% endfor %}
                

            </table>
            {% endif %}
        </div>

       </div>
    </body>    
</html>